body{
    font-family:system-ui;
}
a{
    text-decoration:none;
    color:white;
    background-color:black;
    transition:0.5s;
    padding:5px;
}
a:hover{
    background-color:darkgray;
    transition:0.5s;
}