body{
    font-family:system-ui;
    background-color:skyblue;
}
a{
    text-decoration:none;
    color:white;
    background-color:black;
    transition:0.5s;
    padding:5px;
    border-radius:5px;
}
a:hover{
    background-color:darkgray;
    transition:0.5s;
    box-shadow:2px 2px 2px gray;
    border-radius:5px;
}